body {
  margin: 0;
}

h3 {
  font-family: Verdana;
  font-size: 40px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: #eeeeee;
}

.container-1 {
  display: flex;
  justify-content: space-around;
  width: 575px;
  height: 385px;
  background-color: #1b244a;
}

.home-score-box {
  width: 155px;
  height: 120px;
  left: 82px;
  top: 125px;
  background-color: #080001;
  border-radius: 5px;
}

.home-score-box span {
  display: flex;
  /* position: absolute; */
  width: 117px;
  height: 120px;
  left: 100px;
  top: 125px;
  font-family: "Cursed Timer ULiL";
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 127px;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #f94f6d;
  padding-left: 20px;
}

.home-increments {
  display: flex;
  /* flex-direction: row; */
  width: 155px;
  height: 45px;
  left: 82px;
  top: 271px;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.home-increments div {
  width: 45px;
  height: 45px;
  left: 82px;
  top: 271px;
  border: 2px solid #9aabd8;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-increments div span {
  width: 30px;
  height: 25.77px;
  left: 89px;
  top: 280px;
  font-family: "Cursed Timer ULiL";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 45px;
  text-align: center;
  color: #9aabd8;
  justify-content: center;
}

.guest-score-box {
  width: 155px;
  height: 120px;
  left: 82px;
  top: 125px;
  background-color: #080001;
  border-radius: 5px;
}

.guest-score-box span {
  display: flex;
  /* position: absolute; */
  width: 117px;
  height: 120px;
  left: 100px;
  top: 125px;
  font-family: "Cursed Timer ULiL";
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 127px;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #f94f6d;
  padding-left: 20px;
}

.guest-increments {
  display: flex;
  /* flex-direction: row; */
  width: 155px;
  height: 45px;
  left: 82px;
  top: 271px;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.guest-increments div {
  width: 45px;
  height: 45px;
  left: 82px;
  top: 271px;
  border: 2px solid #9aabd8;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.guest-increments div span {
  width: 30px;
  height: 25.77px;
  left: 89px;
  top: 280px;
  font-family: "Cursed Timer ULiL";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 45px;
  text-align: center;
  color: #9aabd8;
  justify-content: center;
}
